@import '../../node_modules/@syncfusion/ej2/material.css';
.content{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.e-form{
    text-align: center;
    padding: 1%;
    width: 100%;
    background-color: antiquewhite;
}
input{
    padding: 0.5%;
    width: 15%;
}
#manipulate:hover{
    background-color: rgb(167, 167, 167);
}
table{
    width: 60%;
    margin: 1% auto;
}
td{
    text-align: center;
    border: 2px solid rgb(165, 165, 165);
    padding: 1%;
}
th{
    padding: 1%;
    text-align: center;
    border: 2px solid rgb(54, 203, 64);
    background-color: rgb(106, 246, 116);
}
#group_cols{
    background-color: rgb(165, 165, 165);
    color: white;
}